<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HelpCat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" href=../icon.png>
</head>
<body>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="logo">
                        <img src="../icon.png" alt="logo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h1>HelpCat</h1>
                        <h3>service to relax at the right time</h3>
                         You have seen the pictures <%= visits %> times
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="main-mem d-flex aligns-items-center">
                        <img src="mems/<%= catImg.url %>" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="next">
                        <a href="/next">
                            <button type="button" class="btn btn-warning btn-lg">Next picture</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./parts/footer'); %>

</body>
</html>